﻿@model SoftServeEvents.Models.Order

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Order</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Event.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Event.Title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Client.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Client.Name)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>