﻿@model SoftServeEvents.Models.Order

@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Order</legend>

            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.EventId, "Event")
            </div>
            <div class="editor-field">
                @Html.DropDownList("EventId", String.Empty)
                @Html.ValidationMessageFor(model => model.EventId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ClientId, "Client")
            </div>
            <div class="editor-field">
                @Html.DropDownList("ClientId", String.Empty)
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>