﻿@model SoftServeEvents.Models.Place

@{
    ViewBag.Title = "Create";
}
<div class="container">
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Place</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceCount)
            @Html.ValidationMessageFor(model => model.PlaceCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FreePlaceCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FreePlaceCount)
            @Html.ValidationMessageFor(model => model.FreePlaceCount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>