﻿@model SoftServeEvents.Models.Place

@{
    ViewBag.Title = "Details";
}
<div class="container">
<h2>Details</h2>

<fieldset>
    <legend>Place</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FreePlaceCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FreePlaceCount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>