﻿@model SoftServeEvents.Models.Genre

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>Details</h2>

    <fieldset>
        <legend>Genre</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>