﻿@model SoftServeEvents.Models.Event

@{
    ViewBag.Title = "Delete";
}
<div class="container">
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Event</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Place.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genre.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
</div>