﻿@model SoftServeEvents.Models.Place
@{
    ViewBag.Title = "ShowEvent";
}
<style>
    #details {
        border: 2px solid #2f2c2d; /* Параметры границы */
        background: white; /* Цвет фона */
        padding: 10px; /* Поля вокруг текста */
    }

    input[type="button"] {
        border: 1px solid #50cc46;
        background-color: #50cc46;
        width: 200px;
        height: 30px;
    }

    #block {
        float: right;
    }
</style>

<div class="container" id="details">

    <h2>@ViewBag.CurrentEvent</h2><br />

    <img src="~/Content/Images/eventBig.jpg" width="1150"><br /><br /><br />

    <p>
        <strong>Place: </strong>@Model.Title
        <br />
        <strong>Number of tickets: </strong> @Model.PlaceCount
        <br />
        <strong>Number of free tickets: </strong> @Model.FreePlaceCount
    </p>

    <p>Whitetip reef shark: temperate perch pike characid warbonnet duckbill eel escolar black bass grayling, candlefish. Dorab bonnetmouth treefish lamprey basking shark bigscale fish tapetail lumpsucker huchen trout-perch regal whiptail catfish; noodlefish wrasse nurseryfish flathead. Armorhead white croaker chain pickerel blacktip reef shark longfin black dragonfish swordfish, "Kafue pike." Woody sculpin longfin dragonfish gouramie cutthroat eel? Scissor-tail rasbora; lake whitefish Pacific argentine threadsail roanoke bass rough pomfret, smalltooth sawfish boga seatrout tapetail yellow weaver denticle herring electric ray topminnow. Titan triggerfish soldierfish swordfish lemon shark bluefish! Thresher shark horsefish electric eel yellowmargin triggerfish surf sardine goosefish starry flounder; emperor freshwater eel flathead catfish, popeye catafula mudskipper. Atlantic silverside barramundi Blacksmelt tui chub scythe butterfish slickhead salmon."</p>

    <p>Surf sardine New Zealand smelt parasitic catfish stonecat sillago. Striped bass sea dragon, regal whiptail catfish, Redfish píntano blue shark? Shell-ear megamouth shark; molly armoured catfish long-whiskered catfish grideye hairtail freshwater flyingfish pufferfish ropefish plaice eelblenny cutthroat eel ray Ganges shark. Forehead brooder Pacific hake, "barracudina Black scabbardfish false cat shark trunkfish powen swordfish," sheepshead.</p>

    <p>Huchen; salmon shark mojarra barreleye grunter bluntnose minnow climbing catfish. Bristlenose catfish píntano river stingray cat shark Bigscale pomfret Australasian salmon. Needlefish herring smelt, Rio Grande perch Death Valley pupfish Alaska blackfish wallago lampfish Redfish duckbill eel. Seahorse deep sea eel; freshwater herring stargazer; monkeyface prickleback delta smelt longnose chimaera, "gulf menhaden zebra danio." Tadpole cod Black angelfish medaka velvet catfish limia pineconefish Blenny paperbone, cutthroat trout sixgill shark scat. Flagblenny southern smelt electric stargazer ronquil, manefish; marine hatchetfish rough sculpin king of herring?</p>

    <p>Velvetfish golden trout river shark Rio Grande perch Pacific herring zebra bullhead shark mora bigscale. Danio yellowtail lighthousefish, "crucian carp stonefish nase saber-toothed blenny silver hake yellowtail kingfish four-eyed fish."</p>

    <p>Tarpon orangestriped triggerfish, mudminnow, "Rainbowfish flagtail spearfish loach minnow Oriental loach mola whiff barfish, coolie loach." Guitarfish yellow weaver, northern clingfish baikal oilfish red velvetfish, boarfish Atlantic herring climbing gourami conger eel duckbill eel carpsucker Raccoon butterfly fish longfin escolar; zebra tilapia, clown triggerfish.</p>
    <br />
    <div id="block">
        @if (Model.FreePlaceCount > 0)
        {
            <input class="" type="button" title="Create" value="Order now"
                   onclick="location.href='@Url.Action("Create", "Order", new { selectedEvent = @ViewBag.CurrentEvent })'" />
        }
        else
        {
            <input class="" type="button" title="Create" value="Sold out"
                   onclick="location.href='@Url.Action("Index", "Home", null)'" />
        }
    </div>    
    </div>