﻿@model SoftServeEvents.Models.GenresAndEventsContainer
@{
    ViewBag.Title = "Browse";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                @foreach (var genre in Model.Genres)
                {
                    @Html.ActionLink(genre.Title, "Browse", new { genre = genre.Title }, new { @class = "list-group-item" })
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var myEvent in Model.Genre.Events)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/Content/Images/event.jpg" alt="" />
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4>
                                    @Html.ActionLink(@myEvent.Title, "ShowEvent", "EventDetails", new { placeId = myEvent.PlaceId, currentEvent = myEvent.Title }, null)
                                </h4>
                                <p>
                                    See more snippets like this online store item at.
                                    See more snippets like this online store item at.
                                    See more snippets like this online store item at.
                                </p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>