﻿@model SoftServeEvents.Models.Event

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <h2>Create</h2>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Event</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PlaceId, "Place")
            </div>
            <div class="editor-field">
                @Html.DropDownList("PlaceId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlaceId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.GenreId, "Genre")
            </div>
            <div class="editor-field">
                @Html.DropDownList("GenreId", String.Empty)
                @Html.ValidationMessageFor(model => model.GenreId)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>